Package: kagari
Version: @version
Architecture: amd64
Maintainer: Tatakinov <tatakinov@gmail.com>
Installed-Size: @installed_size
Depends: liblua5.4-0
Recommends: ninix-kagari
Section: games
Priority: optional
Homepage: https://github.com/Tatakinov/kagari_shiori
Description: KAGARI compatible SHIORI library for ninix-kagari
